@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

h5 {
  font-weight: 900;
}

.bordes {
  border-radius: 20px;
}

.centrar-texto {
  text-align: center;
}

.izquierda {
  float: left;
}

.derecha {
  float: right;
}

body {
  background: #e0e8ff url("../images/pattern-background-desktop.svg") no-repeat center top;
  font-family: "Red Hat Display", sans-serif;
}

.titulo {
  margin-top: 15px;
}

.subtitulo {
  font-weight: 700;
  margin-bottom: 0;
  padding-right: 30px;
}

.parrafo {
  font-size: 16px;
  color: #7280a7;
  margin: 15px 15px 25px 15px;
}

.color {
  background-color: #f5f7ff;
  padding: 20px;
}

.conteiner {
  margin-top: 20px;
}

a {
  margin: 2px;
  color: #3829e0;
  font-weight: bold;
  font-size: 15px;
}

.centrar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img {
  border-radius: 15px 15px 0 0;
}

.button1 {
  border-radius: 10px;
  font-weight: 700;
  padding: 10px;
  background-color: #3829e0;
  border: none !important;
}

.button2 {
  border-radius: 10px;
  font-weight: 700;
  padding: 10px;
  color: #7280a7;
  background-color: white;
  border: none !important;
}

.precio {
  color: #7280a7;
}

@media (min-width: 375px) {
  .card {
    width: 30rem !important;
  }

  .titulo {
    font-size: 30px;
    margin-top: 30px;
  }

  .parrafo {
    font-size: 18px;
    color: #7280a7;
    margin: 15px 60px 25px 60px;
  }

  .color {
    margin: 40px;
  }

  .conteiner-precio {
    padding-right: 50px;
  }

  .button1 {
    width: 350px;
  }
}
